<!DOCTYPE html>
<html lang="en">


<body>
    <header>
        <%- include('./layout/nav.ejs') %>
    </header>

    <main>
        <% favCharacters.forEach( character=> { %>
            <section>
                <p>
                    <%= character.name %>
                </p>
                <p>
                    <%= character.house %>
                </p>
                <p>
                    <%= character.patronus %>
                </p>
                <p>
                    <%= character.alive %>
                </p>
          <a href="/character/<%= character.id %>">View Detalis</a> 
            </section>
            <% }) %>
    </main>
</body>

</html>